.content-heading{
    margin-bottom:10px;
}

.main-content-heading{
    padding:0 30px;
}

.content-wrap{
    padding-left:20px;
}

.inline-it{
    display: inline-block !important;
}

.liked{
    color:red;
}

.dp img{
	max-width: 250px;
 max-height: 250px;
}
.department{
    display: none;
}
.fa-thumbs-up:hover{
    transform: rotateY(150deg);
    transform: rotateZ(-30deg);
    box-shadow:2px 2px  2px #000000;
}